@{
    ViewBag.Title = "Trust Account Details";
}

<div class="jumbotron">
    <h1>Trust Account Details</h1>
    <p class="lead">DiJones Property Services Sales Trust
Macquarie Bank
BSB: 182-222
Account Number: 3055 29406

</p>
</div>

