@{
    ViewBag.Title = "Trust Account Details";
}

<div class="jumbotron">
    <h1>Trust Account Details</h1>
    <p class="lead">Rise Estate Agents Sales Trust
Macquarie Bank
BSB: 182-222
Account Number: 3032 24794
</p>
</div>

