@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Trust Account Details";
}

<div class="jumbotron">
    <h1>Trust Account Details</h1>
    <p class="lead">DiJones Property Services Sales Trust<br />
Macquarie Bank<br />
BSB: 182-222<br />
Account Number: 3055 29406<br />
<br />
</p>
<p>
Before transferring money you <B><U>MUST</U></B> call our office on (02) 9908 6099 to verify the account details.
</p>
</div>
