@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Trust Account Details";
}

<div class="jumbotron">
    <h1>Trust Account Details</h1>
    <p class="lead">DiJones Property Services Sales Trust<br />
Macquarie Bank<br />
BSB: 182-222<br />
Account Number: 3055 29406

</p>
</div>